<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <Properties>
        <!-- 文件输出格式 -->
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level [%thread] %c [%L] -| %msg%n</Property>
        <!-- 配置kafka服务器地址 -->
        <Property name="SERVER">192.168.11.207:9092</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="[%-5p] %d %c - %m%n" />
        </Console>

        <File name="File" fileName="/usr/local/logs/miniPJ.log">
            <PatternLayout pattern="%m%n" />
        </File>

        <!-- 输出日志到Kafka -->
        <Kafka name="KAFKA" topic="miniPJ-log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n" />
            <Property name="bootstrap.servers">${SERVER}</Property>
        </Kafka>

    </Appenders>

    <Loggers>
        <root level="info">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="File" />
            <AppenderRef ref="KAFKA" />
        </root>
    </Loggers>
</configuration>
